body
    @include background
    header
        color: white
        text-align: center
    main
        text-align: center
        color: white
        .btn
            background-color: transparent 
            color: white
            border: 1px solid white
        .btn:hover 
            background-color: white
            color: #d04ed6
            border: 1px solid white
        .btn:focus
            box-shadow: none
        .modal-content
            background-color: #d04ed6
            .modal-header
                border-bottom-color: white