body
    @include background
    header
        color: white
        text-align: center
    main
        text-align: center
        color: white
        .btn
            background-color: transparent 
            color: white
            border: 1px solid white
        .btn:hover 
            background-color: white
            color: #d04ed6
            border: 1px solid white
        .btn:focus
            box-shadow: none
        .modal-content
            background-color: #d04ed6
            .modal-header
                border-bottom-color: white
        #keyboard
            ul
                padding: 0 
                display: flex
                flex-direction: row
                justify-content: center
                flex-wrap: wrap
                li
                    list-style: none
                    @include d_flex
                    button
                        margin: 2px
                        height: 30px
                        width: 30px
                        @include d_flex
        #letterTrash
            display: flex
            flex-wrap: wrap
            justify-content: center
            #trash
                width: 60%
                height: 100px
                border: 1px solid white
                border-radius: 10px
                flex-wrap: wrap
            